/*.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
*/

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
  background-color: black;
  color: white;
}

.hero { 
  text-align: center;
}

h1.hero {
  .instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  }

  font-weight: bold;
  font-weight: 750;
}

h1.subheading { 
  .geist-mono-font {
    font-family: "Geist Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

font-weight: bold;
/*font-weight: 750;*/
}

h1.alt-subheading {
.instrument-sans-font {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  letter-spacing: -5px;
  padding: 10px;
  
  font-variation-settings:
    "wdth" 100;
}
}

h1.alt-subheading2 {
  font-family: 'PT Serif', serif;
}