.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
  }

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    background-color: black;
    color: white;
  }

.hero { 
  text-align: center;
}

h1.hero {
  .instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  }

  font-weight: bold;
  font-weight: 750;
}

h1.subheading { 
.instrument-serif-regular {
font-family: "Instrument Serif", serif;
font-weight: 400;
font-style: normal;
}

.instrument-serif-regular-italic {
font-family: "Instrument Serif", serif;
font-weight: 400;
font-style: italic;
}


font-weight: bold;
font-weight: 750;
}
