body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    background-color: black;
    color: white;
  }
  
.header {
    text-align: center;
}

.hero {
    font-weight: bold;
    text-align: center;
}

