body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    background-color: black;
    color: white;
  }

h1.hero {
    font-weight: bold;
    text-align: center;
    font-weight: 750;
}
